{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Timetable</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?after" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
      <div
        class="relative flex flex-col items-center bg-white rounded-lg shadow-lg p-8"
      >
        <div
          class="m-8 px-8 py-8 justify-items-center bg-gradient-to-r from-blue-300 to-purple-300 rounded-lg shadow-md"
        >
          <div
            class="grid grid-flow-col justify-items-center grid-cols-6 pt-8 text-center gap-4"
          >
            <div class="justify-items-center">
              <div
                class="border-t border-r border-gray-400 w-44 h-8 rounded-t-lg"
              ></div>
              <div
                class="border-t border-r border-gray-300 w-44 h-16 pt-4 rounded-lg bg-white shadow-sm"
              >
                1 class
              </div>
              <div
                class="border-t border-r border-gray-300 w-44 h-16 pt-4 rounded-lg bg-white shadow-sm"
              >
                2 class
              </div>
              <div
                class="border-t border-r border-gray-300 w-44 h-16 pt-4 rounded-lg bg-white shadow-sm"
              >
                3 class
              </div>
              <div
                class="border-t border-r border-gray-300 w-44 h-16 pt-4 rounded-lg bg-white shadow-sm"
              >
                4 class
              </div>
              <div
                class="border-t border-r border-gray-300 w-44 h-16 pt-4 rounded-lg bg-white shadow-sm"
              >
                5 class
              </div>
              <div
                class="border-t border-r border-gray-300 w-44 h-16 pt-4 rounded-lg bg-white shadow-sm"
              >
                6 class
              </div>
              <div
                class="border-t border-r border-gray-300 w-44 h-16 pt-4 rounded-lg bg-white shadow-sm"
              >
                7 class
              </div>
              <div
                class="border-t border-r border-gray-300 w-44 h-16 pt-4 rounded-lg bg-white shadow-sm"
              >
                8 class
              </div>
              <div
                class="border-t border-r border-gray-300 w-44 h-16 pt-4 rounded-lg bg-white shadow-sm"
              >
                9 class
              </div>
              <div
                class="border-t border-r border-gray-300 w-44 h-16 pt-4 rounded-lg bg-white shadow-sm"
              >
                10 class
              </div>
              <div
                class="border-t border-r border-gray-300 w-44 h-16 pt-4 rounded-lg bg-white shadow-sm"
              >
                11 class
              </div>
              <div
                class="border-t border-r border-b border-gray-300 w-44 h-16 pt-4 rounded-b-lg bg-white shadow-sm"
              >
                12 class
              </div>
            </div>
            <div class="justify-items-center">
              <div
                class="border-t border-r border-gray-300 w-44 h-8 bg-purple-200 rounded-t-lg font-semibold"
              >
                Mon
              </div>
              {% for time, class, text in zipped %} {% if "Mon" in time %}
              <div class="{{ class }} ">{{ text }}</div>
              {% endif %} {% endfor %}
            </div>

            <div class="justify-items-center">
              <div
                class="border-t border-r border-gray-300 w-44 h-8 bg-purple-200 rounded-t-lg font-semibold"
              >
                Tue
              </div>
              {% for time, class, text in zipped2 %} {% if "Tue" in time %}
              <div class="{{ class }} ">{{ text }}</div>
              {% endif %} {% endfor %}
            </div>

            <div class="justify-items-center">
              <div
                class="border-t border-r border-gray-300 w-44 h-8 bg-purple-200 rounded-t-lg font-semibold"
              >
                Wed
              </div>
              {% for time, class, text in zipped3 %} {% if "Wed" in time %}
              <div class="{{ class }} ">{{ text }}</div>
              {% endif %} {% endfor %}
            </div>

            <div class="justify-items-center">
              <div
                class="border-t border-r border-gray-300 w-44 h-8 bg-purple-200 rounded-t-lg font-semibold"
              >
                Thu
              </div>
              {% for time, class, text in zipped4 %} {% if "Thu" in time %}
              <div class="{{ class }} ">{{ text }}</div>
              {% endif %} {% endfor %}
            </div>

            <div class="justify-items-center">
              <div
                class="border-t border-r border-gray-300 w-44 h-8 bg-purple-200 rounded-t-lg font-semibold"
              >
                Fri
              </div>
              {% for time, class, text in zipped5 %} {% if "Fri" in time %}
              <div class="{{ class }} ">{{ text }}</div>
              {% endif %} {% endfor %}
            </div>
          </div>
          {% for text, class in icampus %}
          <div class="{{ class }} bg-green-200 rounded-lg p-4 my-4 shadow-md">
            {{ text }}
          </div>
          {% endfor %}
        </div>
        <div
          class="relative flex flex-col items-center justify-center overflow-hidden p-8"
        >
          <a onClick="window.location.reload()" style="cursor: pointer">
            <div
              class="p-3 font-semibold hover:bg-green-300 bg-green-200 rounded-lg shadow-md transition duration-300 ease-in-out"
            >
              Recommend another timetable
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
